*~
*#
*.old
*.back
*.bak
*.orig
*.elc
*-private
*-private.*
*-private[1-9]
*-private[1-9].el
.emacs.d/.session
.emacs.d/.mc-lists.el
.emacs.d/ac-comphist.dat
.emacs.d/anything-c-adaptive-history
.emacs.d/auto-save
.emacs.d/backup
.emacs.d/ddskk/jisyo
.emacs.d/ddskk/record
.emacs.d/ddskk/study
.emacs.d/elisp/misc/hideif-extension.el
.emacs.d/elisp/misc/calfw-syobocal.el
.emacs.d/elisp/misc/helm-ja-wikipedia.el
.emacs.d/elisp/el-easydraw
.emacs.d/elisp/misc/cal-japan.el
.emacs.d/elisp/misc/chatgpt.el
.emacs.d/edraw-ui-state.config
.emacs.d/elpa
.emacs.d/recentf
.emacs.d/request/curl-cookie-jar
.emacs.d/scratch
.emacs.d/session
.emacs.d/url
.emacs.d/projectile*
.emacs.d/undohist
.emacs.d/history
.emacs.d/ede-projects.el
.emacs.d/games/*
.emacs.d/semanticdb/
.emacs.d/srecode-map.el
.emacs.d/image-dired
.emacs.d/eln-cache
.emacs.d/server
.config/fish/fish_plugins
.config/fish/fish_variables
.config/fish/fish_variables.lock
.config/fish/completions/
.config/fish/conf.d/
.config/fish/functions/
