*~
*#
*.old
*.back
*.bak
*.orig
*.elc
*-private
*-private.*
*-private[1-9]
*-private[1-9].el
.emacs.d/.session
.emacs.d/.mc-lists.el
.emacs.d/ac-comphist.dat
.emacs.d/anything-c-adaptive-history
.emacs.d/auto-save
.emacs.d/backup
.emacs.d/ddskk/jisyo
.emacs.d/ddskk/jisyo.bak
.emacs.d/ddskk/record
.emacs.d/elpa
.emacs.d/recentf
.emacs.d/scratch
.emacs.d/session
.emacs.d/url
.emacs.d/projectile*
.emacs.d/undohist
.emacs.d/history

